@using twiview.Locale;
@model twiview.Models.SimilarMediaModelFeatured

@{ViewBag.title = string.Format(Locale.Title_Featured, Model.Date.ToString("yyyy/MM/dd")); }
@section TwitterCard{@TextHelper.TwitterCardDefault()}

@helper RenderScripts()
{
    @Styles.Render("~/Content/bootstrap-datepicker")
    @ScriptHelper.datetimepickerScript(Model.Date.ToLocalTime())
}

@helper pager(bool datepicker = false)
{
    <div>
    <ul class="pagination">
        <li @(Model.Order == DBHandlerView.TweetOrder.Featured ? "class=active" : "")>@Html.ActionLink(Locale.Order_Featured, "Featured", new { Date = Model.Date.ToString("yyyy-MM-dd"), Order = DBHandlerView.TweetOrder.Featured })</li>
        <li @(Model.Order == DBHandlerView.TweetOrder.New ? "class=active" : "")>@Html.ActionLink(Locale.Order_New, "Featured", new { Date = Model.Date.ToString("yyyy-MM-dd"), Order = DBHandlerView.TweetOrder.New })</li>
    </ul>
    <ul class="pagination">
        <li @(Model.Date.AddDays(1) > DateTimeOffset.Now ? "class=active" : "")>@Html.ActionLink(Locale.Pager_Today, "Featured", new { Date = DateTimeOffset.Now.ToString("yyyy-MM-dd") })</li>
        @if (Model.Date.AddDays(1) > DateTimeOffset.Now)
        {
            <li class="disabled"><a>@Locale.Pager_NextDay</a></li>
        }
        else
        {
            <li>@Html.ActionLink(Locale.Pager_NextDay, "Featured", new { Date = Model.Date.AddDays(1).ToString("yyyy-MM-dd") })</li>
        }
        <li>@Html.ActionLink(Locale.Pager_PreviousDay, "Featured", new {  Date = Model.Date.AddDays(-1).ToString("yyyy-MM-dd") })</li>
    </ul>
    </div>
    if (datepicker)
    { 
        <div class="container">
            <form action="/SimilarMedia/Featured" method="get" class="form-inline">
                <div class="form-group">
                    @Locale.Pager_Datetimepicker
                    <div class='input-group date' id='datetimepicker_similarmedia'>
                        <input name="Date" type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Go</button>
            </form>
        </div> 
    }
}
@pager(true)
<h2>@Locale.Headline_Featured (@(Model.Date.ToString("yyyy/MM/dd")))</h2>
<p>@ScriptHelper.TweetButton(@Url.Action("Featured", new { Date = Model.Date.ToString("yyyy-MM-dd") }))</p>
<p>@(Locale.Headline_TimeToSearch): @(Model.QueryElapsedMilliseconds)ms</p>
@if (Model.Tweets.Length > 0)
{
    @SimilarMediaHelper.SimilarMediaAll(Model.Tweets, Model.SimilarLimit, false)
    @pager()
    @AdHelper.AdFooter()
}
else
{
    @SimilarMediaHelper.NoTweetToShow()
}
@RenderScripts()
