@using twiview.Locale;
@model twiview.Models.SimilarMediaModelFeatured

@{ViewBag.title = string.Format(Locale.Title_Featured, Model.Date.ToString("yyyy/MM/dd")); }
@section TwitterCard{@TextHelper.TwitterCardDefault()}
@section MetaTags{<meta name="robots" content="noindex" />}
@helper RenderScripts()
{
    @Styles.Render("~/Content/bootstrap-datepicker")
    @datetimepickerScript(Model.Date, "/featured/")
}

@helper datetimepickerScript(DateTimeOffset Date, string UrlPrefix)
{
DateTimeOffset LocalDate = Date.ToLocalTime();
var html = ((System.Web.Mvc.WebViewPage)WebPageContext.Current.Page).Html;
    <script type="text/javascript">
    $(function () {
        $('#datetimepicker_similarmedia').datetimepicker({
            defaultDate: new Date(@LocalDate.Year, @LocalDate.Month - 1, @LocalDate.Day, @LocalDate.Hour),
            maxDate: Date.now(),
            useCurrent: false,
            allowInputToggle: true,
            sideBySide: true,
            format: 'YYYY-MM-DD-HH'
        }).on('dp.change', function (e) {
            location.href = '@html.Raw(UrlPrefix)' + e.date.format('YYYY-MM-DD-HH');
        });
    });
    </script>
}

@helper pager(bool datepicker = false)
{
    <div>
    <ul class="pagination">
        <li @(Model.Order == DBHandlerView.TweetOrder.Featured ? "class=active" : "")>@Html.ActionLink(Locale.Order_Featured, "Featured", new { Date = Model.Date.ToLocalTime().ToString("yyyy-MM-dd-HH"), Order = DBHandlerView.TweetOrder.Featured })</li>
        <li @(Model.Order == DBHandlerView.TweetOrder.New ? "class=active" : "")>@Html.ActionLink(Locale.Order_New, "Featured", new { Date = Model.Date.ToLocalTime().ToString("yyyy-MM-dd-HH"), Order = DBHandlerView.TweetOrder.New })</li>
    </ul>
    <ul class="pagination">
        <li @(Model.isLatest ? "class=active" : "")>@Html.ActionLink(Locale.Pager_Latest, "Featured", new { Date = DateTimeOffset.Now.ToString("yyyy-MM-dd-HH") })</li>
        @if (Model.isLatest)
        {
            <li class="disabled"><a>@Locale.Pager_Newer</a></li>
        }
        else
        {
            <li>@Html.ActionLink(Locale.Pager_Newer, "Featured", new { Date = (Model.Date + Model.Span).ToLocalTime().ToString("yyyy-MM-dd-HH") })</li>
        }
        <li>@Html.ActionLink(Locale.Pager_Older, "Featured", new { Date = (Model.Date - Model.Span).ToLocalTime().ToString("yyyy-MM-dd-HH") })</li>
    </ul>
    </div>
    if (datepicker)
    { 
        <div class="form-group form-inline" style="display:inline">
            @Locale.Pager_Datetimepicker
            <div class='input-group date' id='datetimepicker_similarmedia'>
                <input name="Date" type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    }
}
@pager(true)
<h2>@Locale.Headline_Featured (@(Model.isLatest ? Locale.Headline_LatestTime : Model.Date.ToLocalTime().ToString("yyyy/MM/dd HH:*")))</h2>
<p>@ScriptHelper.TweetButton(@Url.Action("Featured", new { Date = Model.Date.ToLocalTime().ToString("yyyy-MM-dd-HH") }))</p>
<p>@(Locale.Headline_TimeToSearch): @(Model.QueryElapsedMilliseconds)ms</p>
@if (Model.Tweets.Length > 0)
{
    @SimilarMediaHelper.SimilarMediaAll(Model.Tweets, Model.SimilarLimit, false)
    @pager()
}
else
{
    @SimilarMediaHelper.NoTweetToShow()
}
@RenderScripts()
