@using twiview.Locale;
@model twiview.Models.SimilarMediaModelOneTweet
@{
    if (Model.Tweets.Length > 0) {
        ViewBag.Title = string.Format(Locale.Title_OneTweet, Model.Tweets[0].tweet.user.screen_name,
            Model.Tweets[0].tweet.created_at.ToLocalTime().ToString("yyyy/MM/dd HH:mm:ss"));
    }
    else
    {
        ViewBag.Title = string.Format(Locale.Title_NoTweetToShow, Model.TargetTweetID);
    }
    @section TwitterCard{
        @if(Model.Tweets.Length > 0)
        {
            <meta name="twitter:description" content="@(Model.Tweets[0].tweet.text)" />
            <meta name="twitter:image" content="@(LocalText.MediaUrlFull(Model.Tweets[0].media, Request))" />
        } else { <meta name="twitter:description" content="このツイートは収集されていないか、削除されたか、または非公開アカウントのツイートです。" /> }
    }
}
@if (Model.Tweets.Length > 0)
{
    <h2>@(Html.ActionLink('@' + Model.Tweets[0].tweet.user.screen_name, "UserTweet", new{ UserID = Model.Tweets[0].tweet.user.user_id })) のツイート</h2>
    <p>@TextHelper.TweetPermalink(Model.Tweets[0].tweet)</p>
    <p>@ScriptHelper.TweetButton(@Url.Action("OneTweet", new { TweetID = Model.TargetTweetID }))</p>
    <p>@(Locale.Headline_TimeToSearch): @(Model.QueryElapsedMilliseconds)ms</p>
    @AdHelper.AdHeader()
    @SimilarMediaHelper.SimilarMediaAll(Model.Tweets, (Model.ViewMoreButton ? Model.SimilarLimit : 0), false)
    @AdHelper.AdFooter()
}
else
{
    <h2>@Html.Raw(string.Format(Locale.Headline_NoTweetToShow_HTML, Model.TargetTweetID))</h2>
    <p>@(Locale.Headline_TimeToSearch): @(Model.QueryElapsedMilliseconds)ms</p>
    @SimilarMediaHelper.NoTweetToShow()
}