@using twiview.Locale;
@model twiview.Models.SimilarMediaModelTimeline
@helper RenderScripts()
{
    @Styles.Render("~/Content/bootstrap-datepicker")
    @ScriptHelper.datetimepickerScript(Html, Model.Date, Url.Action("Timeline", new { UserID = Model.TargetUser.user_id }) + @"?Date=")
}
@{

    if (Model.TargetUser != null)
    {
        string datestr;
        if (Model.isLatest) { datestr = ""; }
        else
        {
            switch (Model.RangeMode)
            {
                case twiview.Models.SimilarMediaModel.RangeModes.Before:
                    datestr = "(~" + Model.Date.ToLocalTime().ToString("yyyy/MM/dd HH:mm:ss") + ")";
                    break;
                case twiview.Models.SimilarMediaModel.RangeModes.After:
                    datestr = "(" + Model.Date.ToLocalTime().ToString("yyyy/MM/dd HH:mm:ss") + "~)";
                    break;
                default:
                    datestr = "(~" + Model.Date.ToString("yyyy/MM/dd") + ")";
                    break;
            }
        }
        ViewBag.Title = string.Format(Locale.Title_Timeline, Model.TargetUser.screen_name, datestr);
    }
    else
    {
        ViewBag.Title = Locale.Title_UserNotFound;
    }
}
@section TwitterCard{@TextHelper.TwitterCardDefault()}

    @helper pager(bool datepicker = false)
    {
    <div>
    <ul class="pagination">
        @switch (Model.RangeMode)
        {
            case twiview.Models.SimilarMediaModel.RangeModes.Before:
                <li @(Model.GetRetweet ? "class=active" : "")>@Html.ActionLink(Locale.Pager_WithRT, "Timeline", new { UserID = Model.TargetUser.user_id, Before = Model.LastTweet, RT = true })</li>
                <li @(!Model.GetRetweet ? "class=active" : "")>@Html.ActionLink(Locale.Pager_NoRT, "Timeline", new { UserID = Model.TargetUser.user_id, Before = Model.LastTweet, RT = false })</li>
                break;
            case twiview.Models.SimilarMediaModel.RangeModes.After:
                <li @(Model.GetRetweet ? "class=active" : "")>@Html.ActionLink(Locale.Pager_WithRT, "Timeline", new { UserID = Model.TargetUser.user_id, After = Model.LastTweet, RT = true })</li>
                <li @(!Model.GetRetweet ? "class=active" : "")>@Html.ActionLink(Locale.Pager_NoRT, "Timeline", new { UserID = Model.TargetUser.user_id, After = Model.LastTweet, RT = false })</li>
                break;
            default:
                <li @(Model.GetRetweet ? "class=active" : "")>@Html.ActionLink(Locale.Pager_WithRT, "Timeline", new { UserID = Model.TargetUser.user_id, Date = Model.Date.ToString("yyyy-MM-dd"), RT = true })</li>
                <li @(!Model.GetRetweet ? "class=active" : "")>@Html.ActionLink(Locale.Pager_NoRT, "Timeline", new { UserID = Model.TargetUser.user_id, Date = Model.Date.ToString("yyyy-MM-dd"), RT = false })</li>
                break;
        }
    </ul>
    <ul class="pagination">
        <li @(Model.isLatest ? "class=active" : "")>@Html.ActionLink(Locale.Pager_Latest, "Timeline", new { UserID = Model.TargetUser.user_id })</li>
        @if (Model.NextNew == null || Model.isLatest) { <li class="disabled"><a>@Locale.Pager_Newer</a></li> }
        else { <li>@Html.ActionLink(Locale.Pager_Newer, "Timeline", new { UserID = Model.TargetUser.user_id, After = Model.NextNew })</li> }
        @if (Model.NextOld == null) { <li class="disabled"><a>@Locale.Pager_Older</a></li> }
        else { <li>@Html.ActionLink(Locale.Pager_Older, "Timeline", new { UserID = Model.TargetUser.user_id, Before = Model.NextOld })</li> }
    </ul>
    </div>
    if (datepicker)
    {
    <div class="form-group">
        <form method="get" class="form-inline" style="display:inline">
            @Locale.Pager_ResultsPerPage
            <select class="form-control" name="Count" onchange="this.form.submit()">
                <option value="10" @(Model.TweetCount == 10 ? " selected" : "")>10</option>
                <option value="20" @(Model.TweetCount == 20 ? " selected" : "")>20</option>
                <option value="50" @(Model.TweetCount == 50 ? " selected" : "")>50</option>
            </select>
            @switch (Model.RangeMode)
            {
                case twiview.Models.SimilarMediaModel.RangeModes.Before:
                    <input type="hidden" name="Before" value="@Model.LastTweet" />
                    break;
                case twiview.Models.SimilarMediaModel.RangeModes.After:
                    <input type="hidden" name="After" value="@Model.LastTweet" />
                    break;
                default:
                    <input type="hidden" name="Date" value="@Model.Date.ToString("yyyy-MM-dd")" />
                    break;
            }
        </form>
        <div class="form-inline" style="display:inline">
            @Locale.Pager_Datetimepicker
            <div class='input-group date' id='datetimepicker_similarmedia'>
                <input name="Date" type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
    </div>
    }
}
@{
    if (Model.TargetUser != null)
    {
        @pager(true)
        <h2>@string.Format(Locale.Headline_Timeline, Model.TargetUser.screen_name)</h2>
        switch (Model.RangeMode)
        {
            case twiview.Models.SimilarMediaModel.RangeModes.Before:
            <h3>(~@Model.Date.ToLocalTime().ToString("yyyy/MM/dd HH:mm:ss"))</h3>
                break;
            case twiview.Models.SimilarMediaModel.RangeModes.After:
            <h3>(@Model.Date.ToLocalTime().ToString("yyyy/MM/dd HH:mm:ss")~)</h3>
                break;
            default:
                <h3>(~@Model.Date.ToString("yyyy/MM/dd"))</h3>
                break;
        }
        <p>
            @switch (Model.RangeMode)
            {
                case twiview.Models.SimilarMediaModel.RangeModes.Before:
                    @ScriptHelper.TweetButton(@Url.Action("Timeline", new { UserID = Model.TargetUser.user_id, Before = Model.LastTweet }))
                    break;
                case twiview.Models.SimilarMediaModel.RangeModes.After:
                    @ScriptHelper.TweetButton(@Url.Action("Timeline", new { UserID = Model.TargetUser.user_id, After = Model.LastTweet }))
                    break;
                default:
                    @ScriptHelper.TweetButton(@Url.Action("Timeline", new { UserID = Model.TargetUser.user_id, Date = Model.Date.ToString("yyyy-MM-dd") }))
                    break;
            }
        </p>
    }
    else
    {
        <h2>@Locale.Headline_UserNotFound</h2>
    }
    <p>@(Locale.Headline_TimeToSearch): @(Model.QueryElapsedMilliseconds)ms</p>
}
@if (Model.Tweets.Length > 0)
{
    @SimilarMediaHelper.SimilarMediaAll(Model.Tweets, Model.SimilarLimit, true)
    @pager()
    if (Model.Tweets.Length > 2) { @AdHelper.AdFooter() }
}
else
{
    @SimilarMediaHelper.NoTweetToShow()
}
@if (Model.TargetUser != null) { @RenderScripts() }
