@using twiview;
@using twiview.Locale;
@helper NoTweetToShow()
{
    <div>
        該当するツイートが見つからないか、表示できないようです。
        <ul>
            <li>登録ユーザーのタイムライン上の画像のみを収集しています</li>
            <li>非公開かつフォロー外のアカウントのツイートは表示されません</li>
            <li>類似画像検出は半分リアルタイムで半分非リアルタイム(適当)</li>
            <li>類似画像を含むツイートが本当に存在しない可能性もあります</li>
        </ul>
    </div>
}

@helper SimilarMediaAll(SimilarMediaTweet[] Tweets, int ViewMoreButton, bool ShowDate)
{
DateTimeOffset LastTweetDate = Tweets[0].tweet.created_at.ToLocalTime();
bool AdFlag = Tweets.Length >= 2;
if (ShowDate) {<h3>@LastTweetDate.ToLocalTime().ToString("yyyy/MM/dd")</h3>}
    foreach (SimilarMediaTweet Tweet in Tweets)
    {
        DateTimeOffset ThisTweetDate = Tweet.tweet.created_at.ToLocalTime();
        if (ShowDate && (LastTweetDate.Year != ThisTweetDate.Year || LastTweetDate.Month != ThisTweetDate.Month || LastTweetDate.Day != ThisTweetDate.Day))
        { <h3>@Tweet.tweet.created_at.ToLocalTime().ToString("yyyy/MM/dd")</h3> }
        LastTweetDate = ThisTweetDate;
        @SimilarMedia(Tweet, ViewMoreButton)
    if (AdFlag) { AdFlag = false; @AdHelper.AdArticle() }
    }
}

@helper SimilarMedia(SimilarMediaTweet Tweet, int ViewMoreButton)
{
var html = ((System.Web.Mvc.WebViewPage)WebPageContext.Current.Page).Html;
TweetData._tweet tw = Tweet.tweet.retweet ?? Tweet.tweet;
    <div class="well well-sm" style="width:100%">
        <a class="anchor" id="@(Tweet.media.media_id)"></a>
        <div class="panel twigaten-media">
            <div class="text-center" style="margin:4px">@TextHelper.MediaThumb(tw, Tweet.media)</div>
            @TextHelper.MediaTypeGlyphIcon(Tweet.media)
            <p>
                @TextHelper.UserIcon(tw.user)
                @TextHelper.UserTweetLink(tw) @TextHelper.UserLink(tw.user)<br />
                @tw.user.name<br />
                @TextHelper.DateOneTweetLink(tw,Tweet.media)
            </p><p>
                @ScriptHelper.RetweetIntent(tw.tweet_id) @tw.retweet_count
                @ScriptHelper.FavoriteIntent(tw.tweet_id) @tw.favorite_count
                @TextHelper.GoogleMediaLink(Tweet.media)
            </p>
            <p class="twigaten-tweettext">@html.Raw(tw.text)</p>
            @if (Tweet.tweet.retweet != null)
            {
            <p>
                @TextHelper.UserIcon(Tweet.tweet.user)
                <span class="glyphicon glyphicon-retweet"></span>
                @TextHelper.UserTweetLink(Tweet.tweet)<br />
                @Tweet.tweet.user.name<br />
                <span class="text-muted">@TextHelper.TweetDate(Tweet.tweet)</span>
            </p>
            }
        </div>
        @foreach (SimilarMediaTweet Similar in Tweet.Similars)
        {
            <div class="twigaten-media twigaten-similarmedia">
                <div class="text-center" style="margin:4px">@TextHelper.MediaThumb(Similar.tweet, Similar.media)</div>
                @TextHelper.MediaTypeGlyphIcon(Similar.media)
                <p>
                    @TextHelper.UserIcon(Similar.tweet.user)
                    @TextHelper.UserTweetLink(Similar.tweet) @TextHelper.UserLink(Similar.tweet.user)<br />
                    @Similar.tweet.user.name<br />
                    @if (Similar.tweet.created_at < tw.created_at)
                    { <strong>@TextHelper.DateOneTweetLink(Similar.tweet,Similar.media)</strong> }
                    else
                    { @TextHelper.DateOneTweetLink(Similar.tweet, Similar.media) }
                </p>
                <p>
                    @ScriptHelper.RetweetIntent(Similar.tweet.tweet_id)@Similar.tweet.retweet_count
                    @ScriptHelper.FavoriteIntent(Similar.tweet.tweet_id)@Similar.tweet.favorite_count
                    @TextHelper.GoogleMediaLink(Tweet.media)
                </p>
                <p class="twigaten-tweettext">@html.Raw(Similar.tweet.text)</p>
            </div>
        }
        @if (ViewMoreButton > 0)
        {
            <p>
                @if (Tweet.SimilarMediaCount > ViewMoreButton) {
                <strong>@string.Format(Locale.SimilarMedia_ResultCount, Tweet.SimilarMediaCount)</strong>@TextHelper.OneTweetLinkButtonViewMore(Tweet) }
                else { <span>@string.Format(Locale.SimilarMedia_ResultCount, Tweet.SimilarMediaCount)</span>@TextHelper.OneTweetLinkButton(Tweet) }
                @TextHelper.OneTweetButtonTweet(Tweet)
            </p>
        }
        else
        { <p>@string.Format(Locale.SimilarMedia_ResultCount, Tweet.SimilarMediaCount)</p> }
</div>
}
